{
  "presets": [
    ["kyt-react", {"modules": true}],
  ],
  "plugins": [
    "emotion",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
