html, body {
   margin: 0;
   padding: 0;
   background: #81C784;
}
#board {
   position: relative;
   width: 825px;
   height: 480px;
   margin: 40px auto;
}

#stock_waste {
   position: absolute;
   top: 20px;
   left: 20px;
}
#foundation {
   position: absolute;
   top: 20px;
   left: 365px;
}

.ph_suite {
   font-size: 60px;
   color: rgba(255,255,255,0.7);
   text-align: center;
   vertical-align: bottom;
   margin-top: 15px;
}

#foundation_clubs:hover .ph_suite, #foundation_spades:hover .ph_suite {
   color: black;
}
#foundation_diamonds:hover .ph_suite, #foundation_hearts:hover .ph_suite {
   color: #F44336;
}


#tableau {
   position: absolute;
   top: 165px;
   left: 20px;
}

#board .stack_left {
   margin-left: 0;
}

.placeholder, .card {
   border-radius: 10px;
   width: 75px;
   height: 105px;
   user-select: none; 
}

.stack {
  position: relative;
  float: left;
  margin-left: 30px;
}
#tableau .stack {
  height: 500px;
  z-index: 1;
}

.placeholder {
   background: rgba(255, 255, 255, 0.5);
   border: 5px solid #FFFFFF;
}

.red {
   color: #F44336;
}
.black {
   color: black;
}

.card {
   position: relative;
   background: #FFFFFF;
   border: 5px solid #FFFFFF;
   cursor: -webkit-grab;
  cursor: grab;
  box-shadow: 4px 4px 2px rgba(0,0,0,0.4);
}

.card_back {
   background: #2196F3;
}
.card_front {
}

.card_value, .card_suite, .card_center {
   position: absolute;
   top: 5px;
   font-size: 24px;
   font-weight: 800;
}
.card_value {
   left: 5px;
}
.card_suite {
   right: 5px;
}
.card_center {
   font-size: 48px;
   text-align: center;
   top: 40px;
   left: 0px;
   width: 100%;
}
.sub_cards {
  margin-top: 35px;
  margin-left: -5px;
}
