html, body {
   margin: 0;
   padding: 0;
   background: #81C784;
}
#board {
   background: #81C784;
   position: relative;
   width: 775px;
   height: 900px;
   margin: 40px auto;
}

.placeholder, .card {
   border-radius: 10px;
   width: 75px;
   height: 105px;
   user-select: none;
}
.placeholder {
   position: absolute;
   background: rgba(255, 255, 255, 0.1);
   border: 5px solid rgba(255, 255, 255, 0.2);
   z-index: 0;
}
.stack {
  position: absolute;
}

#placeholder_stock, #stock {
   top: 0;
   left: 0;
}
#placeholder_waste, #waste {
   top: 0;
   left: 115px;
}
#placeholder_foundation_clubs, #foundation_clubs {
   top: 0;
   left: 345px;
}
#placeholder_foundation_diamonds, #foundation_diamonds {
   top: 0;
   left: 460px;
}
#placeholder_foundation_hearts, #foundation_hearts {
   top: 0;
   left: 575px;
}
#placeholder_foundation_spades, #foundation_spades {
   top: 0;
   left: 690px;
}

#placeholder_tableau_1, #tableau_1 {
   top: 165px;
   left: 0;
}
#placeholder_tableau_2, #tableau_2 {
   top: 165px;
   left: 115px;
}
#placeholder_tableau_3, #tableau_3 {
   top: 165px;
   left: 230px;
}
#placeholder_tableau_4, #tableau_4 {
   top: 165px;
   left: 345px;
}
#placeholder_tableau_5, #tableau_5 {
   top: 165px;
   left: 460px;
}
#placeholder_tableau_6, #tableau_6 {
   top: 165px;
   left: 575px;
}
#placeholder_tableau_7, #tableau_7 {
   top: 165px;
   left: 690px;
}

.dropzone {
   position: absolute;
   z-index: 0;
   width: 115px;
   height: 900px;
   top: 150px;
   border: 1px solid red;
}
#dropzone_foundation_clubs {
   top: -25px;
   left: 330px;
   height: 160px;
}
#dropzone_foundation_diamonds {
   top: -25px;
   left: 445px;
   height: 160px;
}
#dropzone_foundation_hearts {
   top: -25px;
   left: 560px;
   height: 160px;
}
#dropzone_foundation_spades {
   top: -25px;
   left: 675px;
   height: 160px;
}
#dropzone_tableau_1 {
   left: -15px;
}
#dropzone_tableau_2 {
   left: 100px;
}
#dropzone_tableau_3 {
   left: 215px;
}
#dropzone_tableau_4 {
   left: 330px;
}
#dropzone_tableau_5 {
   left: 445px;
}
#dropzone_tableau_6 {
   left: 560px;
}
#dropzone_tableau_7 {
   left: 675px;
}

.ph_suite {
   font-size: 60px;
   line-height: 105px;
   color: rgba(255,255,255,0.7);
   text-align: center;
   vertical-align: middle;
}

#placeholder_foundation_clubs:hover, #placeholder_foundation_spades:hover {
   color: black;
}
#placeholder_foundation_diamonds:hover, #placeholder_foundation_hearts:hover {
   color: #F44336;
}

.red {
   color: #F44336;
}
.black {
   color: black;
}

.card {
  position: relative;
  background: #FFFFFF;
  border: 5px solid #FAFAFA;
  cursor: -webkit-grab;
  cursor: grab;
  box-shadow: 4px 4px 2px rgba(0,0,0,0.4);
  z-index: 1;
}

.card_back {
   background: #2196F3;
}
.card_front {
}

.card_value, .card_suite, .card_center {
   position: absolute;
   top: 5px;
   font-size: 24px;
   font-weight: 800;
}
.card_value {
   left: 5px;
}
.card_suite {
   right: 5px;
}
.card_center {
   font-size: 48px;
   text-align: center;
   top: 40px;
   left: 0px;
   width: 100%;
}
.sub_cards {
  margin-top: 35px;
  margin-left: -5px;
}
.card:not(:first-child) {
   margin-top: -75px;
}

#drag_container {
   z-index: 200;
}
