body {
   background: #ffffff;
}
#boxes {   
   position: absolute;
   top: 20px;
   left: 20px;
   width: 1000px;
   height: 800px;
   z-index: 1;
   font-family: courier;
   font-weight: 600;
}
#drop_box {
   position: absolute;
   top: 120px;
   left: 600px;
   border: 1px solid #90A4AE;
   width: 400px;
   height: 280px;
   line-height: 280px;
   color: #546E7A;
   background: #ECEFF1;
   text-align: center;
   font-size: 30px;
   font-weight: 600;
   margin: 20px;
   text-transform: uppercase;
   font-family: monospace;
   z-index: -1;
}
.hovered {
   border: 1px solid #546E7A !important;
   //border: 1px solid red;
   background: #CFD8DC !important;
}


.box {
   position: relative;
   width: 100px;
   height: 100px;
   padding: 10px;
   opacity: 0.8;
}

.box:not(:first-child) {
   margin-top: -80px;
}


.blue {
   background: #2196F3;
   border: 1px solid #1976D2;
}  
.green {
   background: #4CAF50;
   border: 1px solid #388E3C;
}
.orange {
   background: #FF9800;
   border: 1px solid #F57C00;
}
.pink {
   background: #E91E63;
   border: 1px solid #C2185B;
}
.purple {
   background: #9C27B0;
   border: 1px solid #7B1FA2;
}
.red {
   background: #F44336;
   border: 1px solid #D32F2F;
}
.teal {
   background: #009688;
   border: 1px solid #00796B;
}
.yellow {
   background: #FFEB3B;
   border: 1px solid #FBC02D;
}


#container {   
}