@font-face {
  font-family: "jk-cards";
  src: url("fonts/jk-playingcards.woff") format('woff');
}

#stock .card_back:last-child {
  cursor: pointer;
}

.foundation .card:not(:first-child) {
  margin-top: -115px;
}

#drag_container {
  z-index: 200;
}
